<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.feicui.testcontentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册provider时，需要添加权限属性  其他应用通过此参数去定位-->
        <provider
            android:exported="true"
            android:authorities="edu.feicui.testcontentprovider.MY_PROVIDER"
            android:name=".provider.MyProvider"/>
    </application>

</manifest>